.numbers {
    padding: 50px 0 50px 0;
    &__wrapper {
        display: flex;
    }
    &__images-wrapper {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__images {
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
        }
    }
    &__desc {
        width: 50%;
    }
    &__title {
        margin-bottom: 20px;
        span {
            display: inline-block;
            font-family: 'Prompt', sans-serif;
            color: rgba(255, 255, 255, 1);
            font-size: 45px;
            letter-spacing: -5px;
            transition: all .3s ease;
            &:hover {
                color: rgba(50, 238, 135, 1);
                animation: rubber 1s;
            }
            &:nth-child(6) {
                margin-left: 10px;
            }
            &:nth-child(8) {
                margin-left: 10px;
            }
            &:nth-child(10) {
                margin-left: 10px;
            }
        }
    }
    .main-subtitle {
        margin-bottom: 50px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        max-width: 250px;
        margin-bottom: 50px;
    }
    &__name {
        font-family: 'Prompt', sans-serif;
        color: rgba(50, 238, 135, 1);
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        color: rgba(255, 255, 255, 1);
        font-size: 17px;
        font-weight: 400;
        line-height: 1.7;
    }
}