.values {
    padding: 50px 0;
    &__title {
        text-align: center;
        margin-bottom: 10px;
        span {
            display: inline-block;
            font-family: 'Prompt', sans-serif;
            color: rgba(255, 255, 255, 1);
            font-size: 45px;
            letter-spacing: -5px;
            transition: all .3s ease;
            &:hover {
                color: rgba(50, 238, 135, 1);
                animation: rubber 1s;
            }
            &:nth-child(4) {
                margin-left: 10px;
            }
        }
    }
    .main-subtitle {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 110px;
    }
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        width: 30%;
        height: 193px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
        padding: 70px 20px 30px 20px;
        margin-bottom: 110px;
        &:nth-child(1) {
            background: rgba(41, 161, 230, 1);
        }
        &:nth-child(2) {
            background: rgba(135, 90, 250, 1);
        }
        &:nth-child(3) {
            background: rgba(255, 133, 249, 1);
        }
        &:nth-child(4) {
            background: rgba(217, 173, 91, 1);
            margin-bottom: 0;
        }
        &:nth-child(5) {
            background: rgba(39, 230, 192, 1);
            margin-bottom: 0;
        }
        &:nth-child(6) {
            background: rgba(39, 106, 230, 1);
            margin-bottom: 0;
        }
    }
    &__emoji {
        position: absolute;
        bottom: 130px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100px;
        img {
            width: 100%;
        }
    }
    &__text {
        font-family: 'Prompt', sans-serif;
        color: rgba(255, 255, 255, 1);
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }
    &__desc {
        font-family: 'Roboto', sans-serif;
        color: rgba(255, 255, 255, 1);
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
    }
}